[submodule "vendor/wren"]
	path = vendor/wren
	url = https://github.com/mbatc/wren.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/lua/lua.git
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "vendor/ImGuizmo"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/bullet3"]
	path = vendor/bullet3
	url = https://github.com/bulletphysics/bullet3.git

